# Build results
[Bb]in/
[Bb]in-int/
[Oo]bj/
[Ii]ntermediate/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
*.obj
*.cso
logs/

# Visual Studio cache files
.vs/
ipch/
packages/
*.aps
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.suo
*.vcxproj.*

# Visual Studio performance profiling
*.vsp
*.psess

# Code signing
*.pfx
*.pvk

# Temporary OS files
.DS_Store
Thumbs.db